name: test & build

# Trigger on push
on: push

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    container: 
      image: "pytorch/pytorch:1.7.0-cuda11.0-cudnn8-runtime"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: install
      run: |
        source /opt/conda/bin/activate
        conda activate base
        conda install -c conda-forge gdcm
        pip install -r requirements.txt
        pip install flake8
        pip install .
    - name: lint
      run: |
        flake8 dicomml tests
    - name: test
      run: |
        python -m unittest discover -s ./tests -p test_*.py

  build:
    name: build
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build and push Docker images
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKERHUBUSER }}
        password: ${{ secrets.DOCKERHUBTOKEN }}
        repository: volkherscholz/dicomml
        tag_with_ref: true
        tag_with_sha: true
